@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  color: var.$text-color-base;
}

h2,
h3,
h4 {
  font-weight: var.$font-weight-bold;
  color: var.$text-color-primary;
}
h1{
  color: var.$text-color-header;
  font-size: var.$font-size-header;
}

p{
  line-height: var.$line-height-base;
  font-size: var.$font-size-base;
}

.w-100{
  width: 100%;
}
.w-40{
  width: 40%;
}
.w-60{
  width: 60%;
}
.w-33{
  width: 33.333%;
}

@include mix.tablet-styles{

  .w-40{
    width: 100%;
  }
  .w-60{
    width: 100%;
  }
  .w-33{
    width: 100%;
  }
}

a{
  text-decoration: none;
  color: var.$text-color-header;
}

ul{
  list-style: none;

}