@use "./variables" as var;
@use "sass:math";

@mixin four-k-styles {
  @media (max-width: 2560px) {
    @content;
  }
}

@mixin laptop-l-styles {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin laptop-m-styles {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet-styles {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-l-styles {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin mobile-m-styles {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin mobile-s-styles {
  @media (max-width: 320px) {
    @content;
  }
}

%section {
  padding-top: (var.$gutter-base * 2);
  padding-bottom: (var.$gutter-base * 2);

  @include tablet-styles {
    padding-top: (var.$gutter-base);
    padding-bottom: (var.$gutter-base);
  }
}

%wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

%wrap-40 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  @include tablet-styles {
    width: 90%;
    padding-left: math.div(var.$gutter-base, 2);
    padding-right: math.div(var.$gutter-base, 2);
  }
}

%btn {
  text-transform: uppercase;
  font-weight: var.$font-weight-bold;
  background-color: var.$button-color-base;
  padding: 8px 30px;
  display: inline-block;
  border-radius: 5px;
  &:hover{
    box-shadow: 0 0 9px 4px var.$button-color-base;
  }
}

%sub-header {
  position: relative;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  h2 {
    margin-bottom: 13px;
  }

  p::after {
    content: "";
    position: absolute;
    background-color: var.$button-color-base;
    height: 2px;
    width: 140px;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablet-styles {
    width: 90%;
    padding-left: math.div(var.$gutter-base, 2);
    padding-right: math.div(var.$gutter-base, 2);
  }
}