@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base:           'Open Sans', sans-serif;
$font-size-heading:          rem-calc(40);
$font-size-heading-laptop:   rem-calc(30);
$line-height-base:           1.5;

$font-weight-normal:         400;
$font-weight-bold:           700;

// Size settings
$gutter-base:                rem-calc(30);

// Color settings
$text-color-base:            #6b6b6b;
$text-color-primary:         #8f8f8f;

$background-color-base:      #FFF;
