@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base:          'Montserrat', sans-serif;
$font-size-base:             14px;
$font-size-icons:            40px;
$font-size-header:           40px;
$line-height-base:           1.7;


$font-weight-normal:         100;
$font-weight-bold:           900;

// Size settings
$gutter-base:                rem-calc(30);

// Color settings
$text-color-base:            #505050;
$text-color-primary:         #494949;
$text-color-secondary:       #37a0f3;
$text-color-tertiary:        #cfcfcf;
$text-color-header:          #ffffff;

$background-color-base:      #ffffff;
$background-color-primary:   #ebebeb;
$beckground-color-secondary: #414a4f;
$background-color-tertiary:  #000000;

$button-color-base:          #37a0f3;
